a.waves-effect.waves-light.btn-large {
  padding: 0px 30px;
}
ul#mobile-demo.sidenav {
  width: 240px;
}

.nav-wrapper {
  background-color: #6f37a6;
  border-bottom: 4px #26a69a solid;
}

footer.navbar-footer {
  padding-top: 100%;
  padding-bottom: 0;
}

nav .nav-wrapper a.brand-logo {
  font-size: 100%;
  font-weight: bolder;
  color: rgb(1, 14, 4);
}
