.container-contact {
  margin-top: 0px;
  padding-top: 10px;

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg);
}

h2.contact {
  text-align: center;
  animation: zoomIn;
  animation-duration: 2s;
  margin-top: 0em;
  font-family: cursive;
}
form {
  color: black;
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
  border: solid white;
}
label.form-labels {
  color: black;
  text-align: left;
  font-weight: bolder;
}

.waves-effect.waves-light.btn-large {
  display: flex;
}
