.container-contact {
  margin-top: 0px;
  padding-top: 10px;

  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://storage.needpix.com/rsynced_images/background-4232859_1280.png);
}

h2.contact {
  text-align: center;
  animation: zoomIn;
  animation-duration: 2s;
  margin-top: 0em;
  font-family: cursive;
}
form {
  color: black;
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
  border: solid white;
}

.waves-effect.waves-light.btn-large {
  display: flex;
}

.card.black {
  border: solid white;
}
