span.lfm__typing_effect {
  font-family: cursive;
  text-transform: capitalize;
  text-align: center;
  color: black;
  font-size: 5rem;
  position: static;
  box-sizing: content-box;
}

.intro {
  text-align: center;
  background: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Perfect-Sunset-Nature-Background-Image.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: myFirstFont;
  src: url(font/Malvie.otf);
}

img.project_img {
  animation: flip; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

a.btn.btn-dark.btn-sm.my-1.animate__lightSpeedInRight {
  animation: lightSpeedInRight;
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-delay: 2s;
}
h3 {
  animation: swing;
  animation-duration: 2s; /* don't forget to set a duration! */
}

p.sub-heading {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 20px;
  color: #a3a60d;
  -webkit-text-stroke: 1px black;
}
