.row {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  width: 100%;
}

.card:hover {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.portfolio {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

#portfolio.container {
  width: 47vw;
}

.row {
  animation: fadeIn;
  animation-duration: 2s; /* don't forget to set a duration! */
}
h2.portfolio-heading {
  color: #a4a61e;
  animation: bounceIn;
  animation-duration: 2s; /* don't forget to set a duration! */
}
