.row {
  animation: fadeIn;
  animation-duration: 2s; /* don't forget to set a duration! */
}

.card:hover {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.portfolio {
  text-align: center;
  margin-top: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://storage.needpix.com/rsynced_images/background-4232859_1280.png);
}

h2.portfolio-heading {
  margin-top: 0;
  font-family: cursive;
  animation: bounceIn;
  animation-duration: 2s; /* don't forget to set a duration! */
}

#portfolio.container {
  width: 50vw;
}
